.input-container{
 margin-bottom: 15px;
}
.input-container input{
    width: 30px;
    height: 30px;
    margin: 0 1rem;
    text-align: center;
    border: 1px solid black;

}
.otp-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}